<ion-tabs id="tabs-content">
  <ion-tab-bar slot="bottom" translucent="true">
    <ion-tab-button tab="products">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    @if (isCustomer()) {
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    }

    @if (isAdmin()) {
      <ion-tab-button tab="admin">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>