<ion-menu contentId="tabs-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Winys Store</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/tabs/products']" routerDirection="root">
          <ion-icon name="wine-outline" slot="start"></ion-icon>
          <ion-label>Products</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/tabs/cart']" routerDirection="root">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/customer/orders']" routerDirection="root">
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          <ion-label>Orders</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/tabs/profile']" routerDirection="root">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/company-history']" routerDirection="root">
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>Company History</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/about-app']" routerDirection="root">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>About the App</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/developers']" routerDirection="root">
          <ion-icon name="code-slash-outline" slot="start"></ion-icon>
          <ion-label>Developers</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/contact-us']" routerDirection="root">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contact Us</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item button (click)="logout()" class="logout-item">
        <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
        <ion-label color="danger">Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-tabs id="tabs-content">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    

    @if (isCustomer()) {
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    }

    @if (isAdmin()) {
      <ion-tab-button tab="admin">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>